<header>
    <nav>
        <a href="/">
            <img src="/assets/oJtech.png" alt="ojtech-logo">
        </a>
        <div class="flex_wrap">
        
        <% if(user){%>
            <small >welcome back, <%= user.first_name %> </small>
            <div class="auth_user">
                <ul>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li id="dashboard-link">
                        <a href="/blog/author/<%=user._id%>"><img src="/assets/user-regular.svg" alt="dashboard"></a>
                    </li>
                </ul>
                <a href="/create-new" class="create-btn"> Create <span>+</span> </a>
            </div>
        <%}else{%>
            <ul>
                <li>
                    <a href="/blog">Blogs</a>
                </li>
                <li><a href="/auth/signup">Signup</a></li>
                <li><a href="/auth/login">Login</a></li>
            </ul>
            
        <%} %>
        <span class="menu">
            <img src="/assets/list.png" alt="menu">
        </span>
        </div>
    </nav>

</header>