<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/styles.css" />
    <title>Published Articles</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <main class="container" style="text-align: center;">
        <h2>You have exceeded your 3 free access for the day, for unlimited access please subscribe</h2>
        <p>you still have access to your previously opened article</p>
        <button class="create-btn" style="margin: 50px auto; cursor: pointer;">Subscribe Now</button>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
