<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Tech blog</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <section class="container">
            <h2>Create an Account</h2>
            <form action="/auth/signup" method="post">
                <div class="form-control">
                    <label for="first_name">Firstname</label>
                    <input type="text" name="first_name" id="first_name" placeholder="Enter your First Name">
                </div>
                <div class="form-control">
                    <label for="last_name">Firstname</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Enter your Last Name">
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password cant be less than 8 chars">
                </div>
                <button type="submit">Register</button>
                <small>Have an account? <a href="/auth/login">Login</a></small>
            </form>
    </section>
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>